<script src="//connect.facebook.net/en_US/all.js"></script>
<h1>Sponsors</h1>
<div id="fb-root"></div>
<div class="fb-login-button"></div>
<a id="trigger" href="#">Post to Wall</a>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '162131767143149', // App ID
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));

   $(document).ready(function() {
     $('#trigger').click(function() {
       FB.login(function(response) {
         FB.ui({
           method: 'feed',
           message: 'getting educated about Facebook Connect',
           name: 'Connect',
           caption: 'The Facebook Connect JavaScript SDK',
              description: (
              'A small JavaScript library that allows you to harness ' +
              'the power of Facebook, bringing the user\'s identity, ' +
              'social graph and distribution power to your site.'
           ),
           link: 'http://www.fbrell.com/',
           picture: 'http://www.fbrell.com/f8.jpg',
           actions: [
                { name: 'fbrell', link: 'http://www.fbrell.com/' }
           ],
          user_message_prompt: 'Share your thoughts about RELL'
          },
          function(response) {
            if (response && response.post_id) {
              alert('Post was published.');
            } else {
              alert('Post was not published.');
            }
          }
        );
       }, {scope: 'email,user_likes'});
     });
   });


</script>
